.container {
  margin-top: calc(0px - 68px);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.container div {
  max-width: 352px;
  height: 136px;

  background-color: var(--shape);  

  border-radius: 5px;
}

.container div > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 18px;

  color: var(--titles);
  line-height: 24px;
}

.container strong {
  color: var(--titles);
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;

  padding: 0 18px;
}

.container div:nth-child(3){
  background-color: var(--green);
}

.total header > p {
  color: var(--shape);
}

.total strong {
  color: var(--shape);
}