:root {
  --background: #F0F2F5;
  --blue: #5429CC;
  --button: #6933FF;
  --green: #33CC95;
  --red: #E52E4D;
  --shape: #FFFFFF;
  --titles: #363F5F;
  --texts: #969CB3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background-color: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  cursor: pointer;

  transition: filter 0.2s;
}

.react-modal-close:hover {
  filter: brightness(0.8);
}

.activeIncome {
  background-color: rgba(0, 180, 0, 0.1);
}

.activeOutcome {
  background-color: rgba(180, 0, 0, 0.1);
}
